.todoItem {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px 20px;
  border: 2px solid black;
  text-align: start;
  position: relative;
  background: white;
  margin-bottom: 20px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.todoItemDone {
  background: lightgrey;
}

.title {
  margin-bottom: 40px;
}

.description {
  margin-bottom: 30px;
}

.container  {
  display: flex;
  justify-content: space-between;
}
.priority {
  border: 2px black dashed;
  border-radius: 8px;
  padding: 5px 10px;
}

.iconDoneWrap {
  position: absolute;
  top: -10px;
  right: -8px;
}

.iconDone {
  background-color: white;
}

.dotsButton {
  border: 2px black solid;
  border-radius: 8px;
  padding: 5px 20px;
  background: transparent;
}

