.wrapper {
  position: relative;
}

.anchor {

}

.options {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 10;
}

.option {
  width: 100%;
  background: white;
  border: 1px solid #333333;

  &:not(:last-child) {
    border-bottom: 0;
  }
}